body{
    background-color: lightpink;
 }
 h1{
     font-family: cursive;
     text-align: center;
     font-size: 60px;
 }
 body{
     text-align: center;
 }
 
p{
    color: lightgrey;
    text-align:center;  
    font-size: 5px;
    margin:20px;
    padding:5px;
    height: 100px;        
    width: 100px;
    overflow: auto;
    
} 
#h3{
    position:fixed;
    left:650px;
    top:300px;
    font-size: 40px;
    font-family: cursive;

}
h4{
    position: fixed;
    font-size: 25px;
    color:black;
    bottom: 70px;
    left: 350px;
}
#wrapper{
    /*width: 900px;
    margin: 0 auto;*/
    position: fixed;
    top: 350px;
    left: 650px;
    
}
h2{
    font-size: 10px;
    position: fixed;
    top:340px;
    left: 680px;
    color:lightgrey;
}
#check{
    position: fixed;
    top: 500px;
    left: 650px;
    color:lightgrey;
}
img[src*="cloud.png"]{
    top: 120px;
    left: 350px;
    position: fixed;
}
img[src*="cloud2.png"]{
    top: 120px;
    left: 980px;
    position: absolute;
}

img[src*="shoes.png"]{
   top: 100px;
   right: 50px;
   position: absolute;
}
img[src*="shoes2.png"]{
    left: 10px;
    top: 100px;
    position: fixed;
}
img[src*="shoes3.jpeg"]{
    left: 10px;
    top: 300px;
    position: fixed;
}
img[src*="shoes4.jpeg"]{
    left: 10px;
    top: 500px;
    position: fixed;
}
img[src*="lowprice.jpeg"]{
    left: 300px;
    top: 500px;
    position: fixed;
}
button{
    top:600px;
    left:700px;
    position: fixed;
}



